.registersuccess-wrapper {
  @media screen and (max-width: 360px) {
    height: calc(100vh - 200px);
    .registersuccess-form {
      padding: 5% !important;
      table {
        margin-top: -100px;
        tr {
          font-size: 1em !important;
          .label {
            width: 5px !important;
          }
        }
      }
    }
    .registersuccess-code {
      margin-top: -150px;
      h2 {
        font-size: 0.5em !important;
      }
      p {
        font-size: 0.5em !important;
      }
    }
  }
  @media screen and (max-width: 411px) {
    height: calc(100vh - 300px);
    .registersuccess-form {
      padding: 5% !important;
      table {
        margin-top: -50px;
        tr {
          font-size: 1em !important;
          .label {
            width: 15px !important;
          }
        }
      }
    }
    .registersuccess-code {
      margin-top: -150px;
      h2 {
        font-size: 0.8em !important;
      }
      p {
        font-size: 1em !important;
      }
    }
  }
  @media screen and (max-width: 320px) {
    height: calc(100vh - 200px);
    .registersuccess-code {
      h2 {
        font-size: 0.6em !important;
      }
      p {
        font-size: 0.6em !important;
      }
    }
  }
  @media screen and (max-width: 375px) {
    height: calc(100vh - 200px);
    .registersuccess-code {
      h2 {
        font-size: 0.7em !important;
      }
      p {
        font-size: 0.6em !important;
      }
    }
  }
  @media screen and (max-width: 414px) {
    height: calc(100vh - 200px);
    width: 70%;
    .registersuccess-form {
      padding: 5% !important;
      table {
        margin-top: -100px;
        tr {
          font-size: 1em !important;
          .label {
            width: 5px !important;
          }
        }
      }
    }
    .registersuccess-code {
      h2 {
        font-size: 1em !important;
      }
    }
  }
  @media screen and (max-width: 280px) {
    .registersuccess-code {
      p {
        font-size: 0.7em !important;
      }
    }
  }
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: calc(100vh - 400px);
  width: calc(100% - 50%);
  margin: auto;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 27px 1px rgba(209, 209, 209, 1);
  -moz-box-shadow: 0px 0px 27px 1px rgba(209, 209, 209, 1);
  box-shadow: 0px 0px 27px 1px rgba(209, 209, 209, 1);
  background: #ffff;
  .registersuccess-title {
    text-align: center;
    padding: 20px;
    background: #e3e3e3;
  }
  .registersuccess-form {
    height: calc(100% - 36px);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    table {
      tr {
        line-height: 1.2em;
        font-size: 1.5em;
        td.label {
          width: 150px;
        }
      }
    }
    .registersuccess-code {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        color: red;
      }
    }
  }
}
