body {
  overflow-y: hidden;
  font-weight: 700;
  .login-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .login-logo {
      img {
        margin: auto;
        width: 10em;
      }
    }
    .login-title {
      margin: 20px;
      text-align: center;
      h2 {
        font-size: 1.8em;
        font-weight: 800;
      }
    }
    .ui.card {
      width: 100%;
      .login-input {
        margin: 20px;
        .inline.fields {
          display: flex;
          justify-content: space-between;
          .login-forgot:hover {
            text-decoration: underline;
          }
        }
        .login-submit {
          margin-top: 30px;
          button {
            margin: auto;
            width: 100%;
          }
        }
      }
    }
    .login-create {
      padding: 20px;
      text-align: center;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
