.notfound-wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    height: 200px;
  }
  .notfound-title {
    margin: 20px;
  }
}
